body {
    background-image: url('IMG_20211112_161012168_2.jpg');
  }

.element {
    display: inline-block;  
}

h1 {
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(23, 23, 138);
}

h2 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(23, 23, 138);
}

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color:#2626BF;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

